body{
    text-align: center;
}
.btn{
    height: 200px;
    width: 200px;
    border-radius: 20%;
    border: 10px solid black;
    margin: 1rem;
}
.div-container{
    display:flex;
    justify-content: center;
}
.red{
    background-color: rgb(247, 30, 80);
}
.green{
    background-color: rgb(59, 199, 24);
}
.lime{
    background-color: rgb(212, 240, 2);
}
.purple{
    background-color: rgb(77, 180, 235);
}

.flash{
    background-color: white;
}

.userFlash{
    background-color: green;
}
